In [1]:
!pip install pandas

Requirement already satisfied: pandas in /home/mondal/miniconda3/envs/ineuron/lib/python3.10/site-packages (2.3.3)
Requirement already satisfied: numpy>=1.22.4 in /home/mondal/miniconda3/envs/ineuron/lib/python3.10/site-packages (from pandas) (2.2.6)
Requirement already satisfied: python-dateutil>=2.8.2 in /home/mondal/miniconda3/envs/ineuron/lib/python3.10/site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /home/mondal/miniconda3/envs/ineuron/lib/python3.10/site-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in /home/mondal/miniconda3/envs/ineuron/lib/python3.10/site-packages (from pandas) (2025.3)
Requirement already satisfied: six>=1.5 in /home/mondal/miniconda3/envs/ineuron/lib/python3.10/site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

ERROR: Could not find a version that satisfies the requirement json (from versions: none)
ERROR: No matching distribution found for json

In [2]:
pip install openpyxl

Requirement already satisfied: openpyxl in /home/mondal/miniconda3/envs/ineuron/lib/python3.10/site-packages (3.1.5)
Requirement already satisfied: et-xmlfile in /home/mondal/miniconda3/envs/ineuron/lib/python3.10/site-packages (from openpyxl) (2.0.0)
Note: you may need to restart the kernel to use updated packages.

In [28]:
import pandas as pd
#read data from csv file into a dataframe
#df=pd.read_csv("/mnt/win_iv/numpy/pandas/sales_data_sample.csv",encoding="latin1")
# df=pd.read_excel("SampleSuperstore.xlsx")
df = pd.read_json("output.json",encoding="latin1")
#gcfs ka libray for cloud
print(df)

         Name  Age     city
0       Ragib   20  Rangpur
1       hasan   20       NY
2    leetcode   21       NC
3  codeforces   23       SC

In [24]:
import pandas as pd
data={
    "Name":['Ragib','hasan','leetcode','codeforces'],
    "Age": [20,20,21,23],
    "city":['Rangpur','NY','NC','SC']
}
df=pd.DataFrame(data)
print(df)
# df.to_csv("output.csv",index=False)
# df.to_excel("output.xlsx",index=False)
df.to_json("output.json",index=False)

         Name  Age     city
0       Ragib   20  Rangpur
1       hasan   20       NY
2    leetcode   21       NC
3  codeforces   23       SC

In [27]:
# 1. understand the dataset
# identify the problems
# plan next steps
#rows
#head(n)
#tail(n)

import pandas as pd

df=pd.read_json("output.json")
print("Display 1st three rows of the json file: ")
print(df.head(3))
print("Display last three rows of the json file: ")
print(df.tail(3))

Display 1st three rows of the json file:
       Name  Age     city
0     Ragib   20  Rangpur
1     hasan   20       NY
2  leetcode   21       NC
Display last three rows of the json file:
         Name  Age city
1       hasan   20   NY
2    leetcode   21   NC
3  codeforces   23   SC

In [31]:
# 1- columns, rows?
# 2-What type of?
# 3- Missing Data?
# we are uding info() method
# this prints 1number of rows and columns, 2.column name ,3 int64, float64 object , 4. non null counts

import pandas as pd
df= pd.read_csv("sales_data_sample.csv",encoding="latin")
print("Displaying the info of data set: ")
print(df.info())

Displaying the info of data set:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2823 entries, 0 to 2822
Data columns (total 25 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   ORDERNUMBER       2823 non-null   int64
 1   QUANTITYORDERED   2823 non-null   int64
 2   PRICEEACH         2823 non-null   float64
 3   ORDERLINENUMBER   2823 non-null   int64
 4   SALES             2823 non-null   float64
 5   ORDERDATE         2823 non-null   object
 6   STATUS            2823 non-null   object
 7   QTR_ID            2823 non-null   int64
 8   MONTH_ID          2823 non-null   int64
 9   YEAR_ID           2823 non-null   int64
 10  PRODUCTLINE       2823 non-null   object
 11  MSRP              2823 non-null   int64
 12  PRODUCTCODE       2823 non-null   object
 13  CUSTOMERNAME      2823 non-null   object
 14  PHONE             2823 non-null   object
 15  ADDRESSLINE1      2823 non-null   object
 16  ADDRESSLINE2      302 non-null    object
 17  CITY              2823 non-null   object
 18  STATE             1337 non-null   object
 19  POSTALCODE        2747 non-null   object
 20  COUNTRY           2823 non-null   object
 21  TERRITORY         1749 non-null   object
 22  CONTACTLASTNAME   2823 non-null   object
 23  CONTACTFIRSTNAME  2823 non-null   object
 24  DEALSIZE          2823 non-null   object
dtypes: float64(2), int64(7), object(16)
memory usage: 551.5+ KB
None

In [32]:
import pandas as pd
data={
    "Name":['Ragib','hasan','leetcode','codeforces'],
    "Age": [20,20,21,23],
    "city":['Rangpur','NY','NC','SC']
}
df=pd.DataFrame(data)
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Name    4 non-null      object
 1   Age     4 non-null      int64
 2   city    4 non-null      object
dtypes: int64(1), object(2)
memory usage: 224.0+ bytes
None

In [45]:

import pandas as pd
data={
    "Name":['Ragib','hasan','leetcode',"Rian","luna","muna","Mayan","July","Ruchi","Shuvo"],
    "Age": [20,20,21,23,46,76,45,56,44,32],
    "Salary":[50000,60000,70000,80000,80000,90000,10000,150000,70000,80000],
    "Performance Score":[85,90,56,98,89,80,77,79,67,80]
}
df=pd.DataFrame(data)
print(df)
print(df.describe())

       Name  Age  Salary  Performance Score
0     Ragib   20   50000                 85
1     hasan   20   60000                 90
2  leetcode   21   70000                 56
3      Rian   23   80000                 98
4      luna   46   80000                 89
5      muna   76   90000                 80
6     Mayan   45   10000                 77
7      July   56  150000                 79
8     Ruchi   44   70000                 67
9     Shuvo   32   80000                 80
             Age         Salary  Performance Score
count  10.000000      10.000000          10.000000
mean   38.300000   74000.000000          80.100000
std    18.601374   35023.801431          11.948501
min    20.000000   10000.000000          56.000000
25%    21.500000   62500.000000          77.500000
50%    38.000000   75000.000000          80.000000
75%    45.750000   80000.000000          88.000000
max    76.000000  150000.000000          98.000000

In [2]:
"""
1- How big is your dataset
2- what are the name os collumns
3- shape and Collumns
"""
import pandas as pd
data={
    "Name":['Ragib','hasan','leetcode',"Rian","luna","muna","Mayan","July","Ruchi","Shuvo"],
    "Age": [20,20,21,23,46,76,45,56,44,32],
    "Salary":[50000,60000,70000,80000,80000,90000,10000,150000,70000,80000],
    "Performance Score":[85,90,56,98,89,80,77,79,67,80]
}
df=pd.DataFrame(data)
print(df)
print(f"Shape: {df.shape}")
print(f"Column Names: {df.columns}")

       Name  Age  Salary  Performance Score
0     Ragib   20   50000                 85
1     hasan   20   60000                 90
2  leetcode   21   70000                 56
3      Rian   23   80000                 98
4      luna   46   80000                 89
5      muna   76   90000                 80
6     Mayan   45   10000                 77
7      July   56  150000                 79
8     Ruchi   44   70000                 67
9     Shuvo   32   80000                 80
Shape: (10, 4)
Column Names: Index(['Name', 'Age', 'Salary', 'Performance Score'], dtype='object')

In [ ]:
"""
1- select specific columns
2-filter rows
3- combine multiple condition
#filter 
1- square bracket -- selecting command 
2-boolean consition  using for filtering rows

selecting collumns 
1- a seris
2.dataframe multiple column
column= df["Column Name"]
subset=df["Column1", "Column2"]

filtering rows:
boolean indexing

based on a single condition:
filtered_rows=df[df["Salary"]>50000]
combine multiple  condition
filter_rows=df[(df["Column"]>value) & (df["Salary"]<80000)]
"""

In [11]:

import pandas as pd
data={
    "Name":['Ragib','hasan','leetcode',"Rian","luna","muna","Mayan","July","Ruchi","Shuvo"],
    "Age": [20,20,21,23,46,76,45,56,44,32],
    "Salary":[50000,60000,70000,80000,80000,90000,10000,150000,70000,80000],
    "Performance Score":[85,90,56,98,89,80,77,79,67,80]
}
df=pd.DataFrame(data)
print(df)
sl=df['Salary']
print(df[(sl>60000) & (sl<100000)])
subset=df[["Name","Salary"]]
print("Subset with name and salary: ")
print(subset)

       Name  Age  Salary  Performance Score
0     Ragib   20   50000                 85
1     hasan   20   60000                 90
2  leetcode   21   70000                 56
3      Rian   23   80000                 98
4      luna   46   80000                 89
5      muna   76   90000                 80
6     Mayan   45   10000                 77
7      July   56  150000                 79
8     Ruchi   44   70000                 67
9     Shuvo   32   80000                 80
       Name  Age  Salary  Performance Score
2  leetcode   21   70000                 56
3      Rian   23   80000                 98
4      luna   46   80000                 89
5      muna   76   90000                 80
8     Ruchi   44   70000                 67
9     Shuvo   32   80000                 80
Subset with name and salary:
       Name  Salary
0     Ragib   50000
1     hasan   60000
2  leetcode   70000
3      Rian   80000
4      luna   80000
5      muna   90000
6     Mayan   10000
7      July  150000
8     Ruchi   70000
9     Shuvo   80000

In [13]:
# filtering rows

import pandas as pd
data={
    "Name":['Ragib','hasan','leetcode',"Rian","luna","muna","Mayan","July","Ruchi","Shuvo"],
    "Age": [20,20,21,23,46,76,45,56,44,32],
    "Salary":[50000,60000,70000,80000,80000,90000,10000,150000,70000,80000],
    "Performance Score":[85,90,56,98,89,80,77,79,67,80]
}
df=pd.DataFrame(data)
high_salary=df[df["Salary"]>70000]
print("Employees salary  greater than 50000:")
print(high_salary)

Employees salary  greater than 50000:
    Name  Age  Salary  Performance Score
3   Rian   23   80000                 98
4   luna   46   80000                 89
5   muna   76   90000                 80
7   July   56  150000                 79
9  Shuvo   32   80000                 80

In [22]:
#filtering rows salaries greate rthan 50 and age is greater than 40
import pandas as pd
data={
    "Name":['Ragib','hasan','leetcode',"Rian","luna","muna","Mayan","July","Ruchi","Shuvo"],
    "Age": [20,20,21,23,46,76,45,56,44,32],
    "Salary":[50000,60000,70000,80000,80000,90000,10000,150000,70000,80000],
    "Performance_Score":[85,90,56,98,89,80,77,79,67,80]
}
df=pd.DataFrame(data)
con1=df["Salary"]
con2=df["Age"]
con3=df[(con1>60000) & (con2>44)]
print(con3)


print("\n After a or condition")
# salary greater thn 70000 or performance_Score > 77
print(df[(df["Salary"]>70000) | (df["Performance_Score"]>60)])

   Name  Age  Salary  Performance_Score
4  luna   46   80000                 89
5  muna   76   90000                 80
7  July   56  150000                 79

 After a or condition
    Name  Age  Salary  Performance_Score
0  Ragib   20   50000                 85
1  hasan   20   60000                 90
3   Rian   23   80000                 98
4   luna   46   80000                 89
5   muna   76   90000                 80
6  Mayan   45   10000                 77
7   July   56  150000                 79
8  Ruchi   44   70000                 67
9  Shuvo   32   80000                 80